.default-style {
  margin: 50px 50px;
  width: 90vh;
}
.demo-container {
  margin: 50px 50px;
  width: 90vh;
}
.tab-item-content {
  margin: auto;
}
.demo-header {
  display: flex;
  justify-content: space-between;
}